<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17255807794-1363j59jleqoh99nc9ebj8n27nal231u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17255807794-1363j59jleqoh99nc9ebj8n27nal231u</string>
	<key>API_KEY</key>
	<string>AIzaSyA0Woc17RAwD3JOuBdQZFQbAEBvvcKFU0U</string>
	<key>GCM_SENDER_ID</key>
	<string>17255807794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseClear19</string>
	<key>PROJECT_ID</key>
	<string>fir-db-35cd8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-db-35cd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17255807794:ios:9cd834e41a5c4a986eb52b</string>
</dict>
</plist>